.aboutContainer {
    background: #23252b;
    color: #ffda79;
    padding: 3rem 2rem;
    margin: 2rem auto;
    border-radius: 2rem;
    max-width: 900px;
    /* Slightly wider for modern screens */
    box-shadow: 0 4px 40px #ffda7950, 0 0 0 4px #23252b;
    text-align: center;
    position: relative;
    z-index: 2;
}

.aboutTitle {
    font-size: 2.3rem;
    margin-bottom: 1.4rem;
    color: #fff;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: 0 0 24px #ffda79a0;
}

.aboutBody {
    font-size: 1.2rem;
    color: #fff7d0;
    margin-bottom: 0.5rem;
}